@model IEnumerable<MSSQLScreen.Models.JobList>
@{
    ViewBag.Title = "Job List | MSSQLScreen";
    Layout = "~/Views/Shared/Master/_Layout_Home.cshtml";
}


<div class="box box-primary">
    <div class="box-header with-border">
        <h3 class="box-title">Job List</h3>
        <div class="box-tools pull-right">
            @Html.ActionLink("CPU & Memory Usage", "CPUMemoryUsage", new { controller = "Resource" }, new { @class = "btn btn-primary btn-flat" })
        </div>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
        <div class="row">
            <div class="col-sm-12">
                <table id="jobtable" class="table table-bordered table-striped dataTable" role="grid" aria-describedby="jobtable_info">
                    <thead>
                        <tr class="active">
                            <th><strong>Job Name</strong></th>
                            <th><strong>Current Status</strong></th>
                            <th><strong>IsEnabled</strong></th>
                            <th><strong>Last Run Outcome</strong></th>
                            <th><strong>Last Run</strong></th>
                            <th><strong>Next Run</strong></th>
                            <th><strong>Scheduled</strong></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var jobactivity in Model)
                        {
                            <tr>
                                <td>@Html.ActionLink(jobactivity.Name, "JobHistory", "Job", new { server_id = jobactivity.ServerListId, job_id = jobactivity.Id }, null)</td>
                                <td>@jobactivity.JobStatus</td>
                                <td>@jobactivity.IsEnabled</td>
                                <td>@jobactivity.LastRunOutcome</td>
                                <td>@jobactivity.LastRun</td>
                                <td>@jobactivity.NextRun</td>
                                <td>@jobactivity.Scheduled</td>
                            </tr>
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <th><strong>Job Name</strong></th>
                            <th><strong>Current Status</strong></th>
                            <th><strong>IsEnabled</strong></th>
                            <th><strong>Last Run Outcome</strong></th>
                            <th><strong>Last Run</strong></th>
                            <th><strong>Next Run</strong></th>
                            <th><strong>Scheduled</strong></th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- /.box-body -->