@model IEnumerable<MSSQLScreen.Models.JobRunHistory>
@{
    var job_id = Request.Params["id"];
    ViewBag.Title = "Job History | MSSQLScreen";
    Layout = "~/Views/Shared/Master/_Layout_Home.cshtml";
}


@Html.ActionLink("Download Job History", "ToExcel", "Download", new { id = job_id }, new { @class = "btn btn-primary btn-flat"})
<div class="box box-primary">
    <div class="box-header">
        <h3 class="box-title">Job Run History</h3>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
        <div class="row">
            <div class="col-sm-12">
                <table id="jobtable" class="table table-bordered table-striped dataTable" role="grid" aria-describedby="jobtable_info">
                    <thead>
                        <tr class="active">
                            <th><strong>Job Name</strong></th>
                            <th><strong>Run Date</strong></th>
                            <th><strong>Step Id</strong></th>
                            <th><strong>Step Name</strong></th>
                            <th><strong>Duration</strong></th>
                            <th><strong>Outcome</strong></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var jobhistory in Model)
                        {
                            <tr>
                                <td>@jobhistory.JobList.Name</td>
                                <td>@jobhistory.RunDate</td>
                                <td>@jobhistory.StepId</td>
                                <td>@jobhistory.StepName</td>
                                <td>@jobhistory.Duration</td>
                                <td>@jobhistory.RunOutcome</td>
                            </tr>
                        }
                    </tbody>
                    <tfoot>
                        <tr>
                            <th><strong>Job Name</strong></th>
                            <th><strong>Run Date</strong></th>
                            <th><strong>Step Id</strong></th>
                            <th><strong>Step Name</strong></th>
                            <th><strong>Duration</strong></th>
                            <th><strong>Outcome</strong></th>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- /.box-body -->